{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<div> 
		<div>
			<h1>Tak Perlu Dikupas, Ini 5 Manfaat Konsumsi Kentang Bersama Kulitnya</h1>
			<br/>
			<img style="width:250px; height:200px;" src="{% static 'images\kentang.jpg' %}" class="rounded mx-auto d-block" alt="Kentang">
			<br/>
			<article > 
				Kentang kerap dimasukkan dalam menu makanan sehat. Sayuran akar ini begitu populer dan menjadi salah satu pilihan pengganti nasi. 
				Kentang dapat diolah dengan berbagai cara. Anda dapat menikmati kentang rebus, goreng, kukus, atau dicampur dalam olahan masakan lain. 
				Orang kerap kali mengupas kulit kentang saat hendak mengonsumsinya. Tetapi tahukah Anda bahwa memakan kulit kentang akan menghasilkan lebih banyak 
				serat, vitamin, dan mineral? Kulit kentang tidak mengandung kolesterol atau sejumlah besar lemak.
				Selama Anda mengonsumsinya tanpa bahan tambahan, kulit kentang rendah kalori dan memberikan manfaat kesehatan yang mencakup
				membantu pencernaan, mengelola tekanan darah, menjaga tulang kuat dan menangkal penyakit.
				Nah apa saja yang didapat dari mengonsumsi kentang bersama kulitnya? Berikut manfaat kulit kentang yang berhasil Liputan6.com rangkum dari Live Strong, Jumat(9/8/2019).
			</article></br>
			<h2> Lancarkan pencernaan </h2></br>
			<article>
				Serat dalam kulit kentang dapat membantu pencernaan tetap teratur. Serat adalah bagian selulosa dari makanan yang tidak bisa dicerna oleh tubuh. 
				Ini menambahkan curah dan menyerap air untuk melunakkan tinja sehingga dapat melewati sistem pencernaan dengan lancar dan membantu mencegah sembelit.
				Menurut The American Journal of Clinical Nutrition, yang diterbitkan pada Oktober 2015, serat juga dapat membantu meringankan divertikulitis, 
				sindrom iritasi usus, wasir dan kondisi usus lainnya. Serat makanan juga ditemukan memiliki potensi untuk mengurangi risiko kanker usus besar.
			</article></br>
			<h2> Baik untuk Tulang </h2></br>
			<article>
				Manfaat kesehatan kulit kentang lainnya berasal dari kandungan mineral yang penting untuk pemeliharaan struktur dan kekuatan tulang. 
				Nutrisi ini termasuk magnesium, kalium, fosfor, kalsium, tembaga, besi dan seng. Sekitar 50 hingga 60 persen magnesium di tubuh berada di tulang. 
				Menurut para ahli di National Institutes of Health (NIH), Mengonsumsi kulit kentang dapat membantu menjaga kepadatan tulang dan dapat membantu mengurangi 
				risiko osteoporosis pada wanita setelah menopause. Kalium pada kulit kentang juga memiliki efek menguntungkan pada sistem kerangka dengan mengurangi 
				kehilangan kalsium dari tulang, yang mengarah pada peningkatan kepadatan mineral tulang. Dalam sebuah penelitian yang diterbitkan di Nutrition Journal 
				pada Maret 2015, konsumsi fosfor dapat mendukung peningkatan kandungan mineral tulang dan kepadatan tulang. Kalsium dari kulit kentang diperlukan untuk 
				mendukung struktur dan kekerasan gigi dan tulang. Tembaga, besi, dan seng dalam kulit kentang membantu tubuh mensintesis kolagen, yang diperlukan untuk menyatukan tulang.
			</article></br>
			<h2> Atur Tekanan Darah </h2></br>
			<article>
				Manfaat kesehatan kulit kentang juga termasuk membantu menjaga jantung berfungsi dengan baik. Mengonsumsi kulit kentang dapat membantu 
				mengelola tekanan darah secara alami melalui mineral: kalium, magnesium, dan kalsium. Kalium membantu fungsi otot yang diperlukan untuk melemaskan 
				dinding pembuluh darah. Ini membantu menurunkan tekanan darah. Kalium juga digunakan untuk melakukan sinyal listrik di jantung untuk mengontrol 
				detak jantung yang tidak teratur. Magnesium membantu pembuluh darah rileks dan berperan dalam pengangkutan ion kalsium dan kalium melintasi membran sel. 
				Proses ini penting dalam menjaga ritme jantung normal dan mengatur tekanan darah. Dampak kalsium ditunjukkan dalam ulasan yang menganalisis
				3.048 peserta dari 16 percobaan dan menemukan bahwa peningkatan asupan kalsium menurunkan tekanan darah, bahkan pada orang dengan tingkat tekanan darah normal.
				Bukti ini diterbitkan oleh Grup Hipertensi pada Juni 2015.
			</article></br>
		</div>
		</br>
		<div>
			<form action="{% url 'blog:return_comment' %}" method="POST" id="form-comment">
				{% csrf_token %}
				{{form.as_p}}
				<input class="btn btn-primary" type="submit" style="margin-left: 55px;">
			</form>
		</div>
		<br/>
		<div class="container">
			<div class="row" id="hasil-komentar">	
			</div>
		</div>	
	</div>
	<script>
			$(document).ready(
				$('#form-comment').submit(function (event) {
					event.preventDefault();
					const judul = $('#judul').val();
					const comment = $('#comment').val();
					$.ajax({
                    	method: 'GET',
						data:{
							'judul' : judul,
							'comment' : comment
						},
						url:"/blog/response/",
						success: function (result) {
							let barisKomentar = $('#hasil-komentar');
							barisKomentar.append(
								"<div class='col-6 col-sm-3'><p><b>"+ result.judul + "</b><p></div>" +
								"<div class='col-6 col-sm-3'><p>"+ result.comment + "<p></div>"+
								"<div class='w-100'></div>"+
								"<div class='col-6 col-sm-3'><p>"+ result.nama + "<p></div>"+
								"<div class='col-6 col-sm-3'><p>"+ result.published_date + "<p></div>"
							);
							$("#judul").val("");
							$("#comment").val("");
						},
						statusCode:{
            				403: function(){
            					alert('Please login first!');
            				}
            			}
					});
				})
			);
	</script> 
{% endblock %}