{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="background">
		<h1>Simak, 6 Manfaat Buah Naga yang Penting Bagi Tubuh</h1>
		<br/>
		<img style="width:250px; height:200px;" src="{% static 'images\buah_naga.jpg' %}" class="rounded mx-auto d-block" alt="Buah Naga">
		<br/>
		<article> 
			Buah naga cukup terkenal di berbagai kalangan masyarakat. Warna kulitnya yang merah serta bentuknya yang unik menjadi perhatian bagi para penikmat kuliner. 
			Tak hanya dikonsumsi langsung, buah naga juga dibuat berbagai kreasi seperti jus, es krim hingga puding. Namun, tahukah Anda bila buah berjuluk moonflower itu memiliki 
			beragam manfaat untuk kesehatan tubuh? Dilansir dari healthline, Liputan6.com merangkum enam manfaat di antaranya, Selasa, 30 Juli 2019.
		</article></br>
		<h2> 1. Mencegah Penyakit Kronis </h2></br>
		<article>
			Buah naga sangat kaya akan antioksidan yang dibutuhkan oleh tubuh. Zat yang terkandung di dalam buah tersebut dapat mengurangi radikal bebas dalam tubuh 
			sehingga proses detoksifikasi (pengeluaran racun dalam tubuh) berjalan dengan lancar. Antioksidan bekerja dengan menetralkan radikal bebas, sehingga mencegah 
			kerusakan sel dan peradangan. Selain itu, zat ini juga mampu mencegah penyakit kronis seperti penyakit jantung, kanker, diabetes dan radang sendi 
			Buah naga mengandung beberapa jenis antioksidan yang tinggi seperti vitamin C, beta-karoten, likopen dan betalain. Hal ini sangat baik untuk kesehatan tubuh, 
			sehingga Anda disarankan untuk mengonsumsi buah naga sebagai menu pelengkap saat makan. 
		</article></br>
		<h2> 2. Menurunkan Berat Badan</h2></br>
		<article>
			Buah naga juga berfungsi untuk menurunkan berat badan. Kandungan protein di dalam buah naga sangat tinggi, namun tetap rendah lemak dan karbohidrat. 
			Hal ini yang membuat buah naga bisa jadi opsi camilan yang tepat saat diet. Mengonsumsi satu buah naga dalam sehari mampu membuat tubuh Anda tidak mudah lapar. 
			Ini disebabkan oleh kandungan serat tinggi yang dimiliki oleh buah naga sehingga membuat Anda merasa tetap kenyang. Bila bosan dengan memakan langsung, 
			Anda bisa menyantapnya dalam bentuk seperti jus hingga selai roti. Mengonsumsi buah naga secara rutin akan membuat Anda memperoleh hasil yang baik saat program diet.
		</article></br>
		<h2> 3. Meningkatkan Sistem Kekebalan Tubuh </h2></br>
		<article>
			Tingginya kadar vitanin C yang ditemukan dalam buah naga ternyata dapat meningkatkan sistem kekebalan tubuh. Kandungan karotenoid di dalam buah ini juga dapat mencegah
			infeksi dengan melindungi sel darah putih dalam tubuh dari kerusakan. Antioksidan juga bekerja untuk menetralkan radikal bebas dan mempertahankan sel darah putih
			dari bahaya. Sel darah putih berfungsi untuk menjaga tubuh tetap kuat dan tidak mudah terserang penyakit. Oleh karena itu, mengonsumsi buah naga sangat diperlukan 
			untuk tubuh.
		</article></br>
		<h2>4. Melancarkan Pencernaan </h2></br>
		<article>
			Buah naga mengandung prebiotik yang berpotensi meningkatkan bakteri baik dalam usus Anda. Prebiotik berfungsi untuk mendorong pertumbuhan bakteri usus seperti, 
			lactobacilli dan bifidobacteria, yang dapat melancarkan pencernaan. Selain itu, mengonsumsi buah naga secara teratur dapat mengurangi risiko infeksi pada saluran pencernaan 
			dan diare Anda. Kandungan serat buah naga juga dapat mencegah sembelit, sindrom iritasi usus, dan bahkan kanker kolorektal.
		</article></br>
		<h2> 5. Mencegah Penyakit Anemia </h2></br>
		<article>
			Selanjutnya, buah naga juga bermanfaat untuk mencegah dan mengatasi kurang darah atau anemia. Buah naga mengandung zat besi yang memainkan peran penting dalam
			mengangkut oksigen ke seluruh tubuh. Selain itu zat besi juga berperan dalam memecah makanan menjadi energi. Anda dapat mengonsumsi buah naga sebagai opsi untuk
			meningkatkan kadar zat besi di dalam tubuh. Selain buah naga, ada juga berbagai sumber zat besi seperti daging, ikan, kacang-kacangan, dan sereal.
		</article></br>
		<h2> 6. Meningkatkan Kesehatan Tulang </h2></br>
		<article>
		Manfaat yang terakhir yaitu meningkatkan kesehatan tulang. Buah naga memiliki lebih banyak kandungan magnesium dibanding buah-buah lainnya. Rata-rata tubuh Anda 
			membutuhkan 24 gram magnesium. Meskipun jumlahnya terlihat sedikit, tetapi mineral ini berperan penting untuk sel-sel dalam tubuh. Selain itu, buah naga juga mengandung 
			kalsium yang dapat mencegah penyakit pengeroposan pada tulang atau yang biasa dikenal dengan osteoporosis. Selain membantu kesehatan tulang, kalsium juga diperlukan untuk 
			meningkatkan fungsi otot.
		</article></br>
	</div>
	</br>
	<div>
			<form action="{% url 'blog:return_comment' %}" method="POST" id="form-comment">
				{% csrf_token %}
				{{form.as_p}}
				<input class="btn btn-primary" type="submit">
			</form>
		</div>
		<br/>
		<div class="container">
			<div class="row" id="hasil-komentar">	
				<div class="col-6 col-sm-3">Judul</div>
				<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
			
				<!-- Force next columns to break to new line -->
				<div class="w-100"></div>
			
				<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
				<div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
			</div>
		</div>	
	</div>
	<script>
			$(document).ready(
				$('#form-comment').submit(function (event) {
					event.preventDefault();
					const judul = $('#judul').val();
					const comment = $('#comment').val();
					$.ajax({
                    	method: 'GET',
						data:{
							'judul' : judul,
							'comment' : comment
						},
						url:"/blog/response/",
						success: function (result) {
							let barisKomentar = $('#hasil-komentar');
							barisKomentar.append(
								"<div class='col-6 col-sm-3'><p><b>"+ result.judul + "</b><p></div>" +
								"<div class='col-6 col-sm-3'><p>"+ result.comment + "<p></div>"+
								"<div class='w-100'></div>"+
								"<div class='col-6 col-sm-3'><p>"+ result.nama + "<p></div>"+
								"<div class='col-6 col-sm-3'><p>"+ result.published_date + "<p></div>"
							);
							$("#judul").val("");
							$("#comment").val("");
						},
						statusCode:{
            				403: function(){
            					alert('Please login first!');
            				}
            			}
					});
				})
			);
	</script> 
{% endblock %}