{% extends "base.html" %}
{% load static %}

{% block content %}

	<!-- <div class = "color-black; text-align-center; font-family-'Roboto'; font-weight-bold; font-italic; font-size-36px"> -->
	<div class = "container" style = "margin-top:100px">
	<div class = "row">
	<div class = "col-sm-6">
		<table style = "display: inline-table">
		<tbody>
			<tr>
				<td rowspan = "3"><img src = "{% static 'img/health4.jpg' %}" class = "img-fluid rounded float-right" style = "width: 400px"/></td>
				<td colspan = "2"><img src = "{% static 'img/health3.jpg' %}" class = "img-fluid rounded-top float-left" style = "width: 280px"/></td>
			</tr>
			<tr>
				<td><img src = "{% static 'img/health5.jpg' %}" class = "img-fluid float-left" style = "width: 140px"/></td>
				<td><img src = "{% static 'img/health1.jpg' %}" class = "img-fluid float-left" style = "width: 140px"/></td>
			</tr>
			<tr>
				<td colspan = "2"><img src = "{% static 'img/health2.jpg' %}" class = "img-fluid rounded-bottom float-left" style = "width: 280px"/></td>
			</tr>
		</tbody>
		</table>
		<br/>
		<br/>
		<br/>
		<h2 style = "text-align: center">"Healthy is a Choice"</h2>
		<br/>
		<br/>
		<br/>
	</div>
	<div class = "col-sm-6">
		<br/><br/><br/>
		<p style = "color: black; text-align: center; font-family: Roboto; font-weight: bold; font-size: 24px">
		"Increasing public awareness on health through adequate nutrition food and fitness activities"</p><br/><br/><br/>
		<p style = "color: black; text-align: center; font-family: Roboto; font-weight: bold; font-size: 24px">
		We provide any consultation and recomendation about healthy food and best activity for your body
		so you can get healthy more than now. We can be trusted because based on experienced of the best doctors.
		Join us if you want to be health more.</p>
	</div>
	</div>
	</div>
	</div>

{% endblock %}
