{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Style disini -->
<style>
  .bgresult{
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 207px;

    /* background: linear-gradient(180deg, rgba(255, 92, 0, 0.56) 0%, rgba(52, 124, 0, 0.56) 100%); */
  }
  .frame{
    /* <!-- background-color: grey; --> */
    width: 500px;
    height: 300px;
    margin: 100px 400px;
  }
  .resultext{
    margin-bottom: 50px;
    text-align: center;
  }
  .heading{
    color: #005C62;
  }
  .calories-need{
    text-align: center;
    /* background-color: grey; */
  }
  .suggestion{
    /* background-color: yellow; */
    width: 500px;
    height: 500px;
    margin-top: 50px;
  }
  .gambarnya{
    text-align: center;

  }

</style>

<div class="bgresult">

  <div class="frame">
    <div class="resultext">
      <h1 class="heading">Your Current Condition</h1>
    </div>

    <div class="calories-need">
      {% if energy > 3000 %}
      <div class="skinnyaf">
        <h4 class="calories"> Kalori yang anda butuhkan = {{ energy }}</h4>

      </div>

      {% elif energy > 2000 %}
      <div class="kinda_skinny">
        <h4 class="calories"> Kalori yang anda butuhkan = {{ energy }}</h4>

      </div>

      {% else %}
      <div class="normal">
        <h4 class="calories"> Kalori yang anda butuhkan = {{ energy }} </h4>

      </div>
      {% endif %}
    </div>
      <div class="suggestion">
        <h4>Food Suggestion: </h4>
        <div class="gambarnya">
          {% if energy > 2000 %}
          <h3>1. Salmon</h3>
          <img src="https://i.ibb.co/4SYM62G/salmon.jpg" alt="salmon" border="0">
          <h3>2. Kentang</h3>
          <img src="https://i.ibb.co/vZyM5Lh/kentang.jpg" alt="kentang" border="0">
          <h3>3. Kuning Telur</h3>
          <img src="https://i.ibb.co/3cvzTv8/yolk.jpg" alt="yolk" border="0">
          {% else %}
          <h3>1. Ayam</h3>
          <img src="https://i.ibb.co/9GR4pP2/ayam.jpg" alt="ayam" border="0">
          <h3>2. Nasi</h3>
          <img src="https://i.ibb.co/kyNvBYV/nasi.jpg" alt="nasi" border="0">
          <h3>3. Sayuran</h3>
          <img src="https://i.ibb.co/XshsF93/sayur.jpg" alt="sayur" border="0">
          <h3>welp</h3>
          {% endif %}

        </div>
      </div>
  </div>
</div>


{% endblock content %}
