{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class = "container" style = "margin-top:100px">
	<div class="row">
		
		<h3 style = "font-style:justify;">Please Login Here</h3>
		<br/>
		<br/>
		<br/>
			<form action = "{% url 'register:login_func' %}" method = "POST">
				{% csrf_token %}	
	    		<h2> {{gagal}} </h2>
				<div class = 'imgcontainer'>
				<img src = '{% static "image/avatar.png" %}' alt = "avatar" class = "avatar-img">
				</div>
				<div class = "container">
				<input type = "text" placeholder = "Enter Username" aria-label = "Username" name = "username" id = "uname_login" style = "font-family:Roboto;" required>
				<input type = "password" placeholder = "Enter Password" aria-label = "Password" name = "password" id = "pass_login" style = "font-family:Roboto;" required>
				<a href="{% url 'home:index' %}"><button id = "submit-login" type = "submit">Login</button></a>
				<label><input type = "checkbox" checked = "checked">Remember me</label>
				<p class="register" >Don't have an account? <a href="{% url 'register:index' %}"> Sign Up </a></p>
				</div>
				<div class = "container" style = "background-color: #f1f1f1">
				<a href="{% url 'home:index' %}"><button type = "button" class = "cancelbtn">Cancel</button>
				</div>
			</form>
		
	</div>
	</div>
	


	<script type = "text/javascript" src = "{% static 'js/myjs.js' %}"></script>
{% endblock %}