{% extends "base.html" %}
{% load static %}
{% block content %}

	<?php include 'process.php';?>
	<h1 style = "margin-left: 120px; margin-top: 30px; font-family: Roboto; color: black;">Please sign up here</h1>
	<div class = "container" style = "margin-top:120px">
	<div class="row">
    <div class="col-sm-6">
		<form action="{% url 'register:index' %}" method="POST" id = "register_form">
			<div id = "error_msg"></div>
			{% csrf_token %}
			<label for = "first_name">First Name</label>
			<input type = "text" oninvalid = "alert('You must fill out the form!');" name = "first_name" id = "fname" placeholder = "Enter first name">
			<label for = "last_name">Last Name</label>
			<input type = "text" oninvalid = "alert('You must fill out the form!');" name = "last_name" id = "lname" placeholder = "Enter last name">
			<label for = "email">Email</label>
			<input type = "email" oninvalid = "alert('You must fill out the form!');" name = "email" id = "e-mail" placeholder = "Enter your email"><br/>
			<label for = "username">Username:</label>
			<input type = "text" oninvalid = "alert('You must fill out the form!');" name = "username" id = "username" placeholder = "Enter username">
			<label for = "password">Password:</label>
			<input type = "password" oninvalid = "alert('You must fill out the form!');" name = "password" id = "password" placeholder = "Enter password">
			<label for = "password_check">Password:</label>
			<input type = "password" oninvalid = "alert('You must fill out the form!');" name = "password_check" id = "pass_check" placeholder = "Enter password again">
			<a href="{% url 'home:index' %}"><button type = "submit" class = "btn btn-primary" id = "btnsubmit">Submit</button></a>
		</form>
    </div>

	</div>
	</div>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/styleregister.css' %}">
	
{% endblock %}
