
/* .container{ */
	/*background: linear-gradient(180deg, #516BC8 0%, rgba(170, 78, 78, 0.2) 100%, rgba(148, 85, 108, 0.2) 100%);*/
	/* max-height:100%;
	width:auto;
	position: fixed;
	top: 0%; */
/* }
h1{
	color:#000000; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
	color:#000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* margin-left: 5%;
	/* margin-right: 5%; */
/* }
p{
	color:#800000;
	font-family: Georgia, 'Times New Roman', Times, serif;
} */ 
/* img{
	max-height:100%;
	width:auto;
} */
article{
	color:#ff0000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* margin-left: 5%;
	margin-right: 5%; */
}