.container{ 
	max-height:100%;
	width:auto;
	/* background-color:#004f00; */
}
h1{
	color:#000000; 
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 5%;
	margin-right: 5%; 
}
h2{
	color:#000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 5%;
	margin-right: 5%; 
}
p{
	color:#000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 5%;
	margin-right: 5%;
}  
img{
	max-height:100%;
	width:auto;
	
}
article{
	color: #000000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 5%;
	margin-right: 5%;
}