/*html{
	font-family: 'B612', sans-serif;
} 


body{
	font-family: 'B612', sans-serif;
}*/
.kotaktesti{
  margin: 2em;
  display: inline-block;
  border-radius: 3em;
  padding: 1em;
}

.buttontesti{
  margin-left: 3em;  
}

p{
	
	font-size: 1em;
	
}

label{
	font-weight: bold ;
	font-size: 1.5em;
	margin-left: 2em;
}

#pesan{
	margin-left: 3em;
	width: 50%;
	height: 13em !important;
}

#rating{
	font-size: 1em;
}

.submittesti{
	font-size: 1em;
	margin-left: 3em;
	margin-bottom: 2em;
}

.ui-resizable{
	font-family: 'B612', sans-serif;
	border-radius: 1em;
	width: 400px !important;
	padding: 1em;
}

.ui-draggable-handle{
	border-radius: 10em;

}

.ui-dialog-title{
	text-align: center;
}

/*.complain{
	font-weight: lighter !important;
}*/

.testibox{
	margin-left: 2em;
	display: inline-flex;
	background-color: #FFFFFF;
}

.gambar{
	width: 50%;
	display: flex;
	margin: 2em;
	margin-left: 10em;
}

.kotakfunfact{
	color: white;
	background-color: #546e7a;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: 1em; 
  	display: inline-block;
  	border-radius: 3em;
  	padding: 1em;
}

#show, #hide{
	width: auto;
	padding: 0px;
	margin: 0px;
}