{% extends "base.html" %}
{% load static %}


{% block static %}
{{ block.super }}
{% endblock static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="jumbotron jumbotron-fluid kotaktesti">
              <div class="container">
                <h1 class="display-4">Testimoni</h1>
                <p class="lead">Here are some of testimonies from our beloved customers. </br>
                	So, what are you waiting for again? Let's use our app and <strong> get healthy together </strong> !</p>
              </div>
            </div>
        </div>
        <div class="col-5">
            <!-- <div class="gambarTesti">
                <img src="{% static 'img/apaTesti.png' %}" class="gambar" alt="Responsive image">
            </div> -->
            <div class="jumbotron jumbotron-fluid kotakfunfact">
              <div class="container">
                <h1 class="display-4" style="font-size: 2em; font-weight: bold;">Fun Fact!</h1>
                <p class="lead" style="font-size: 1em">We have reach more than hundreds people. Do you ever curious why did this websites exits? <br>
                <button id="show" type="button" class="btn btn-link" style="color: #ffab40">Check this out</button> to know more about us and the history of our websites!</p>
                <p class="lead funfactpanjang" style="font-size: 1em; display: none" > Website ini merupakan perwujudan tugas kelompok dari kelompok 3 mata kuliah <strong>Perancangan dan Pemrograman Web (PPW)</strong>. Kelompok ini berisikan Nicolas, Irham, Hans, dan Maisy. Kami berharap adanya website bukan hanya sebagai pemenuhan tugas kami, tetapi juga website ini bisa bermanfaat bagi banyak orang dikemudian hari.<br> 
                    <button id="hide" type="button" class="btn btn-link" style="color: #ffab40">Hide</button></p>

              </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid hasiltesti">
    <div class="card mb-3 testibox" style="max-width: 18rem;">
    <div class="card-header"><strong>Nicolas Henry Wijaya</strong></div>
    <div class="card-body">
        <h5 class="card-title">5 / 5</h5>
        <p class="card-text">Aplikasi ini bagus dan sangat bermanfaat bagi saya!</p>
    </div>
    </div>
    {% for isi in testi %}

    <div class="card mb-3 testibox" style="max-width: 18rem;">
        <div class="card-header"><strong> {{isi.nama}}</strong></div>
        <div class="card-body">
            <h5 class="card-title">{{isi.rating}} / 5</h5>
            <p class="card-text">{{isi.pesan}}</p>
        </div>
    </div>

    {% endfor %}
</div>

<!-- <a class="btn btn-primary buttontesti" href="{% url 'testimoni:json_testi' %}" role="button">Add Testimoni</a> -->

<!-- <a href="#" id="contactUs">Contact Us</a>                   
<div id="dialog" title="Contact form">
  <p>appear now</p>
</div> -->
<div class="jumbotron jumbotron-fluid kotaktesti">
  <div class="container">
    <h1 class="display-4">Create Your Testimoni</h1>
    <p class="lead">What's your opinion about us? Your <strong>HONEST</strong> testimoni is really help us to be better!</p>
  </div>
</div>

<form action="{% url 'testimoni:json_testi' %}" method="POST" id="formtesti">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary submittesti" type="submit" value="Post Testimoni">
    <a class="btn btn-danger submittesti" href="{% url 'home:index' %}" role="button">Back</a>
</form>

<div id="dialog" title="Complains" class="complain">
  <p style=" text-align:justify !important">Do you have any complain or trouble with our application? <strong>Don't worry!</strong> We are ready 24/7 to listen to your problem! <br>
  Feel free to connect with us by our <a href="https://www.instagram.com/hnsmchl/" style="color: blue">Instagram</a></p>
</div>

{% endblock %}