{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron jumbotron-fluid kotaktesti">
  <div class="container">
    <h1 class="display-4">Create Your Testimoni</h1>
    <p class="lead">What's your opinion about us? Your <strong>HONEST</strong> testimoni is really help us to be better!</p>
  </div>
</div>
<form action="{% url 'testimoni:json_testi' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary submittesti" type="submit" value="Post Testimoni">
    <a class="btn btn-danger submittesti" href="{% url 'testimoni:index' %}" role="button">Back</a>
</form> 
</br>
<!-- <a class="btn btn-primary buttontesti" href="{% url 'home:index' %}" role="button">Post Testimoni</a> -->


{% endblock %}